%Poppins700{
    font-family: "Poppins";
    font-weight: 700;
}
%Poppins600{
    font-family: "Poppins";
    font-weight: 600;
}
%Poppins500{
    font-family: "Poppins";
    font-weight: 500;
}
%Poppins400{
    font-family: "Poppins";
    font-weight: 400;
}
%Begum{
    font-family: "Begum-W03-Semibold";
    font-weight: 600;
}
%pos-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}