@import "_reset.scss";
@import "_fonts.scss";
@import "_mixins.scss";
@import "_vars.scss";
// =============================GLOBAL==================================================================
// =============================GLOBAL==================================================================
html, body{   
    color: #000000;
    overflow-x: hidden;
}
.wrapper{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.container{
    max-width: 1136px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}
.container2{
    max-width: 1244px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}
.button{
    font-size: 18px;
line-height: 27px;
@extend %Poppins500;
padding: 14px 46px;
background-color: #ECB942;
box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
border-radius: 8px;
}
.button--empty{
    background-color: transparent;
    box-shadow: none;
    position: relative;
}
.header__main{
    margin-bottom: 160px;
}

//===========================HEADER__TOP=======================================================
//===========================HEADER__TOP======================================================
.header{
    
    &__inner{
        position: relative;
    }
    &__inner::after{
        position: absolute;
        content: "";
        width:1378px;
        height:718px;
        background: url(../img/bacground/bg-header.svg);
        top: 0;
        right:0;
        z-index: -1;
    }

    &__top{
        height: 90px;
        background: rgba(255, 255, 255, 0.9);
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
backdrop-filter: blur(5px);
    }
    &__top-inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 28px;
    }
    &__top-logo{
        margin-right: 40px;
    }
    &__top-list{
        display: flex;
        white-space: nowrap;
        margin-right: 40px
    }
    &__top-item{
    @extend %Poppins600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-right: 40px;
    }
    &__top-item:last-child, &__top-item:nth-child(2){
        margin-right: 0;
    }
    &__heading{
        margin-top: 180px;
    }
    &__heading-title{
        font-size: 64px;
    line-height: 81px;
    @extend %Begum;
    max-width: 620px;
    margin-bottom: 54px;
    position: relative;
    
    }
    &__top-item--donate{
        text-decoration: underline;
        margin: 0 50px 0 50px;
    }
    &__top-item--donate::after{
        content: "";
        background: url(../img/bacground/bg.svg);
        position: absolute;
        width: 117px;
        height: 40px;
        z-index: -1;
        bottom: 20.9%;
    left: 50.1%;
    }
    &__heading-title::after{
        position: absolute;
        content: "";
        background: url(../img/bacground/bg2.svg) no-repeat;
        width: 243px;
        height: 43px;
        top: 40px;
        left: 0;
        z-index: -1;
    }
    &__heading-text{
        width: 589px;
        @extend %Poppins400;
        font-size: 18px;
    line-height: 27px;
    margin-left: 5px;
    }
    &__buttons-box{
        display: flex;
        margin-top: 54px;
    }
    .button--empty::after{
        content: "";
        position: absolute;
        background: url(../img/icon/arrow.svg);
        width: 18px;
        height: 19px;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        
    }
    &__body-inner{
        display: flex
    }
    &__textbooks{
        align-self: flex-end;
        margin: 0 0 45px 195px;
        position: relative;
        flex-shrink: 50%;
    }
    &__textbooks-number{
        @extend %Begum;
        font-size: 48px;
    line-height: 62px;
    }
    &__textbooks-text{
        font-size: 16px;
    line-height: 24px;
    @extend %Poppins400;
    }
}
.programs{
    &__content{
        display: flex;
        position: relative;
    }
    &__items{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-right: 80px;
        
    }
    &__items-img{
        margin-bottom: 20px;
            width: 69px;
        height: 83px;
    }
    &__items:last-child{
        margin-right: 0;
    }
    &__item-title{
        margin-bottom: 30px;
        font-size: 36px;
    line-height: 46px;
    @extend %Begum;
    }
    &__item-text{
    font-size: 18px;
    line-height: 27px;
    @extend %Poppins400;
    max-width: 323px;
    }


    &__item-link{
        display: block;
        text-decoration: underline;
        @extend %Poppins600;

    }

    &__items-bg{
        position: absolute;
        width: 408px;
        height: 251px;
        object-fit: cover;
        z-index: -1;
        bottom: -7%;
        left: 31.9%;
    }
}


